<form class="example-form" novalidate [formGroup]="newRoadForm">

  <md-form-field class="example-full-width">
    <input mdInput formControlName="roadName" type="text" placeholder="New Road Name">
    <div *ngIf="roadNameControl.errors" class="errors">
      <div *ngIf="roadNameControl.errors.required && (roadNameControl.touched || roadNameControl.dirty)">
        Required!
      </div>
      <div *ngIf="roadNameControl.errors.minlength">
        Must be at least {{roadNameControl.errors.minlength.requiredLength}} letters
      </div>
    </div>
  </md-form-field>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-form-field class="example-full-width">
      <input mdInput formControlName="jurisdictionType" type="text" placeholder="Jurisdiction Type">
    </md-form-field></td>
    <td><md-form-field class="example-full-width">
      <input mdInput formControlName="ownerShip" type="text" placeholder="Ownership">
    </md-form-field></td>
  </tr></table>

  <md-form-field class="example-half-width">
    <input mdInput formControlName="prefixCode" type="text" placeholder="Prefix Code">
  </md-form-field>

  <md-form-field class="example-half-width">
    <input mdInput formControlName="routeNumber" type="text" placeholder="Route Number">
  </md-form-field>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-form-field class="example-full-width">
      <input mdInput formControlName="modifierCode" type="text" placeholder="Modifier Code">
    </md-form-field></td>
    <td><md-form-field class="example-full-width">
      <input mdInput formControlName="mainlineCode" type="text" placeholder="Mainline Code">
    </md-form-field></td>
    <td><md-form-field class="example-full-width">
      <input mdInput formControlName="routeTypeCode" type="text" placeholder="Route Type Code">
    </md-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <md-select formControlName="cardinalDirection" placeholder="Cardinal Direction">
        <md-option *ngFor="let dir of dirs" [value]="dir.value">
          {{dir.viewValue}}
        </md-option>
      </md-select>
    </td>
    <td>
      <md-select formControlName="nonCardinalDirection" placeholder="None Cardinal Direction">
        <md-option *ngFor="let dir of dirs" [value]="dir.value">
          {{dir.viewValue}}
        </md-option>
      </md-select>
    </td>
</table>

  <md-form-field class="example-full-width">
    <input mdInput formControlName="routeOfficialName" type="text" placeholder="Route Official Name">
  </md-form-field>

  <md-form-field class="example-full-width">
    <input mdInput formControlName="routeFullName" type="text" placeholder="Route Full Name">
  </md-form-field>

  <md-form-field class="example-full-width">
    <input mdInput formControlName="routeAlternateName" type="text" placeholder="Route Alternate Name">
  </md-form-field>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><md-form-field class="example-full-width">
      <input mdInput formControlName="beginPlace" type="text" placeholder="Begin Place">
    </md-form-field></td>
    <td><md-form-field class="example-full-width">
      <input mdInput formControlName="endPlace" type="text" placeholder="End Place">
    </md-form-field></td>
  </tr></table>

  <md-form-field>
    <input mdInput formControlName="editDate"  [mdDatepicker]="picker" placeholder="Choose a date">
    <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
    <md-datepicker #picker></md-datepicker>
  </md-form-field>
<p></p>
  <button md-raised-button type="submit" (click)="onSubmitForm()" [disabled]="!newRoadForm.valid">Submit</button>
  <button md-raised-button type="button" (click)="onResetForm()">Reset</button>
</form>
