<form class="example-form" novalidate [formGroup]="highwayForm" (ngSubmit)="onSubmitForm()">
  <app-highway-name-select> </app-highway-name-select>
  <section class="example-full-width">
    <app-select-direction></app-select-direction>
    <app-select-segment-point type="start" (uponChange)="onSegmentPointChange($event,'start')"></app-select-segment-point>
    <app-select-segment-point type="end" (uponChange)="onSegmentPointChange($event, 'end')"></app-select-segment-point>
  <app-add-segment-table (segmentTableChange)="onSegmentTableChange()"></app-add-segment-table>
    <app-select-project (uponChange)="onProjectChange($event)"></app-select-project>
  </section>
  <p></p>
  <button md-raised-button type="submit" [disabled]="!highwayForm.valid">Submit</button>
  <button md-raised-button type="button" (click)="onResetForm()">Reset</button>
</form>



