<table class="example-full-width" cellspacing="0">
  <td>
<md-select mdInput [formControl]="rpCtrl" placeholder="Select {{type}} RP">
  <md-option *ngFor="let rp of rps" [value]="rp.name" >
    {{rp.name}}
  </md-option>
</md-select>
  </td>

  <td>
    <md-form-field>
    <input mdInput [formControl]="offsetCtrl"  placeholder="Offset">
    </md-form-field>
  </td>

  <td class="example-1third-width">
    <md-slide-toggle [formControl]="connectCtrl"> Connect </md-slide-toggle>
  </td>

</table>
