<form class="example-form" novalidate [formGroup]="formRoadFeture" (ngSubmit)="onSubmitForm()">
  <app-highway-name-select> </app-highway-name-select>
  <section class="example-full-width">
    <app-select-direction mytype="both"></app-select-direction>
    <app-select-segment-table></app-select-segment-table>
  </section>

  <table>
    <tr>
      <td class="example-half-width">
        <md-select mdInput formControlName="COG" type="text" placeholder="COG">
          <md-option *ngFor="let myCog of myCogs" [value]="myCog">
            {{myCog}}
          </md-option>
        </md-select>
      </td>

      <td class="example-half-width">
        <md-select mdInput formControlName="County" type="text" placeholder="County">
          <md-option *ngFor="let myCounry of myCountries" [value]="myCounry">
            {{myCounry}}
          </md-option>
        </md-select>
      </td>

      <td class="example-half-width">
        <md-select mdInput formControlName="EngineeringDistrict" type="text" placeholder="Engineering District">
          <md-option *ngFor="let myEngineeringDistrict of myEngineeringDistricts" [value]="myEngineeringDistrict">
            {{myEngineeringDistrict}}
          </md-option>
        </md-select>
      </td>
    </tr>

    <tr>
      <td class="example-half-width">
        <md-select mdInput formControlName="IndianReservation" type="text" placeholder="Indian Reservation">
          <md-option *ngFor="let myIndianReservation of myIndianReservations" [value]="myIndianReservation">
            {{myIndianReservation}}
          </md-option>
        </md-select>
      </td>

      <td class="example-half-width">
        <md-select mdInput formControlName="LegislatureDistrict" type="text" placeholder="Legislature District">
          <md-option *ngFor="let myLegislatureDistrict of myLegislatureDistricts" [value]="myLegislatureDistrict">
            {{myLegislatureDistrict}}
          </md-option>
        </md-select>
      </td>

      <td class="example-half-width">
        <md-select mdInput formControlName="NAAQSArea" type="text" placeholder="NAAQS Area">
          <md-option *ngFor="let myNAAQSArea of myNAAQSAreas" [value]="myNAAQSArea">
            {{myNAAQSArea}}
          </md-option>
        </md-select>
      </td>

    </tr>

    <tr>

      <td class="example-half-width">
        <md-select mdInput formControlName="NationalForest" type="text" placeholder="National Forest">
          <md-option *ngFor="let myNationalForest of myNationalForests" [value]="myNationalForest">
            {{myNationalForest}}
          </md-option>
        </md-select>
      </td>
      <td class="example-half-width">
        <md-select mdInput formControlName="UrbanArea" type="text" placeholder="Urban Area">
          <md-option *ngFor="let myUrbanArea of myUrbanAreas" [value]="myUrbanArea">
            {{myUrbanArea}}
          </md-option>
        </md-select>
      </td>

      <td class="example-half-width">
        <md-select mdInput formControlName="CityOrTown" type="text" placeholder="City or Town">
          <md-option *ngFor="let myCityOrTown of myCityOrTowns" [value]="myCityOrTown">
            {{myCityOrTown}}
          </md-option>
        </md-select>
      </td>
    </tr>
<tr>

  <td class="example-half-width">
    <md-select mdInput formControlName="FunctionalClass" type="text" placeholder="Functional Class">
      <md-option *ngFor="let myFunctionalClass of myFunctionalClasss" [value]="myFunctionalClass">
        {{myFunctionalClass}}
      </md-option>
    </md-select>
  </td>
  <td class="example-half-width">
    <md-select mdInput formControlName="NHS" type="text" placeholder="NHS">
      <md-option *ngFor="let myNHS of myNHSs" [value]="myNHS">
        {{myNHS}}
      </md-option>
    </md-select>
  </td>
  <td class="example-half-width">
    <md-select mdInput formControlName="TruckRoute" type="text" placeholder="Truck Route">
      <md-option *ngFor="let myTruckRoute of myTruckRoutes" [value]="myTruckRoute">
        {{myTruckRoute}}
      </md-option>
    </md-select>
  </td>

</tr>

    <tr>
      <td class="example-half-width">
        <md-select mdInput formControlName="Park" type="text" placeholder="Park">
          <md-option *ngFor="let myPark of myParks" [value]="myPark">
            {{myPark}}
          </md-option>
        </md-select>
      </td>
      <td class="example-half-width">
        <md-select mdInput formControlName="PrivateLand" type="text" placeholder="Private Land">
          <md-option *ngFor="let myPrivateLand of myPrivateLands" [value]="myPrivateLand">
            {{myPrivateLand}}
          </md-option>
        </md-select>
      </td>
      <td class="example-half-width">
        <md-select mdInput formControlName="BureauOfLand" type="text" placeholder="Bureau Of Land">
          <md-option *ngFor="let myBureauOfLand of myBureauOfLands" [value]="myBureauOfLand">
            {{myBureauOfLand}}
          </md-option>
        </md-select>
      </td>

    </tr>
    <tr>
      <td class="example-half-width">
        <md-select mdInput formControlName="WideningPotential" type="text" placeholder="Widening Potential">
          <md-option *ngFor="let myWideningPotential of myWideningPotentials" [value]="myWideningPotential">
            {{myWideningPotential}}
          </md-option>
        </md-select>
      </td>

      <td class="example-half-width">
        <md-select mdInput formControlName="WideningObstacle" type="text" placeholder="Widening Obstacle">
          <md-option *ngFor="let myWideningObstacle of myWideningObstacles" [value]="myWideningObstacle">
            {{myWideningObstacle}}
          </md-option>
        </md-select>
      </td>

      <td class="example-half-width">
        <md-select mdInput formControlName="Curve" type="text" placeholder="Curve">
          <md-option *ngFor="let myCurve of myCurves" [value]="myCurve">
            {{myCurve}}
          </md-option>
        </md-select>
      </td>
    </tr>
    <tr>
      <td class="example-half-width">
        <md-select mdInput formControlName="Grade" type="text" placeholder="Grade">
          <md-option *ngFor="let myGrade of myGrades" [value]="myGrade">
            {{myGrade}}
          </md-option>
        </md-select>
      </td>
      <td class="example-half-width">
        <md-select mdInput formControlName="Curve" type="text" placeholder="Curve">
          <md-option *ngFor="let myCurve of myCurves" [value]="myCurve">
            {{myCurve}}
          </md-option>
        </md-select>
      </td>
      <td class="example-half-width">
        <md-select mdInput formControlName="Curve" type="text" placeholder="Curve">
          <md-option *ngFor="let myCurve of myCurves" [value]="myCurve">
            {{myCurve}}
          </md-option>
        </md-select>
      </td>
    </tr>
    <tr>
      <td class="example-half-width">
        <md-select mdInput formControlName="Grade" type="text" placeholder="Grade">
          <md-option *ngFor="let myGrade of myGrades" [value]="myGrade">
            {{myGrade}}
          </md-option>
        </md-select>
      </td>
      <td class="example-half-width">
        <md-select mdInput formControlName="Terrain" type="text" placeholder="Terrain">
          <md-option *ngFor="let myTerrain of myTerrains" [value]="myTerrain">
            {{myTerrain}}
          </md-option>
        </md-select>
      </td>
      <td class="example-half-width">
        <md-select mdInput formControlName="ClimateZone" type="text" placeholder="Climate Zone">
          <md-option *ngFor="let myClimateZone of myClimateZones" [value]="myClimateZone">
            {{myClimateZone}}
          </md-option>
        </md-select>
      </td>

    </tr>
    <tr>
      <td>
      <md-form-field class="example-half-width">
        <input mdInput formControlName="SpeedLimit" type="text" placeholder="Speed Limit">
      </md-form-field>
      </td>
      <td class="example-half-width">
        <md-select mdInput formControlName="NoPassingZone" type="text" placeholder="NoPassing Zone">
          <md-option *ngFor="let myNoPassingZone of myNoPassingZones" [value]="myNoPassingZone">
            {{myNoPassingZone}}
          </md-option>
        </md-select>
      </td>
      <td class="example-half-width">
        <md-select mdInput formControlName="TypeOfSignal" type="text" placeholder="Type Of Signal">
          <md-option *ngFor="let myTypeOfSignal of myTypeOfSignals" [value]="myTypeOfSignal">
            {{myTypeOfSignal}}
          </md-option>
        </md-select>
      </td>

    </tr>
    <tr>
      <td>
      <md-form-field class="example-half-width">
        <input mdInput formControlName="PercentOfGreenTime" type="text" placeholder="% of Green Time">
      </md-form-field>
      </td>
      <td>
      <md-form-field class="example-half-width">
        <input mdInput formControlName="PercentOfPassSight" type="text" placeholder="% of Pass Sight">
      </md-form-field>
      </td>
      <td class="example-half-width">
        <md-select mdInput formControlName="SurfaceType" type="text" placeholder="Surface Type">
          <md-option *ngFor="let mySurfaceType of mySurfaceTypes" [value]="mySurfaceType">
            {{mySurfaceType}}
          </md-option>
        </md-select>
      </td>

    </tr>
    <tr>
      <td class="example-half-width">
        <md-select mdInput formControlName="SoilType" type="text" placeholder="Soil Type">
          <md-option *ngFor="let mySoilType of mySoilTypes" [value]="mySoilType">
            {{mySoilType}}
          </md-option>
        </md-select>
      </td>
    </tr>
    <tr>
      <td class="example-half-width">
    <md-select mdInput formControlName="CurbAndGutter" type="text" placeholder="Curb & Gutter">
          <md-option *ngFor="let myCurbAndGutter of myCurbAndGutters" [value]="myCurbAndGutter">
            {{myCurbAndGutter}}
          </md-option>
        </md-select>
      </td>
      <td>
        <md-button-toggle-group #group="mdButtonToggleGroup">
          <md-button-toggle value="left"> Left Or Cardinal  </md-button-toggle>
          <md-button-toggle value="right"> Right Or Non-Cardinal</md-button-toggle>
        </md-button-toggle-group>
      </td>
    </tr>
    <tr>
      <td class="example-half-width">
        <md-select mdInput formControlName="Barriar" type="text" placeholder="Barriar">
          <md-option *ngFor="let myBarriar of myBarriars" [value]="myBarriar">
            {{myBarriar}}
          </md-option>
        </md-select>
      </td>
      <td>
        <md-button-toggle-group #group="mdButtonToggleGroup">
          <md-button-toggle value="left"> Left Or Cardinal  </md-button-toggle>
          <md-button-toggle value="right"> Right Or Non-Cardinal</md-button-toggle>
        </md-button-toggle-group>
      </td>
    </tr>
    <tr>
      <td class="example-half-width">
        <md-select mdInput formControlName="Guardrail" type="text" placeholder="Guardrail">
          <md-option *ngFor="let myGuardrail of myGuardrails" [value]="myGuardrails">
            {{myGuardrail}}
          </md-option>
        </md-select>
      </td>
      <td>
        <md-button-toggle-group #group="mdButtonToggleGroup">
          <md-button-toggle value="left"> Left Or Cardinal  </md-button-toggle>
          <md-button-toggle value="right"> Right Or Non-Cardinal</md-button-toggle>
        </md-button-toggle-group>
      </td>
    </tr>
    <tr>
      <td class="example-half-width">
        <md-select mdInput formControlName="Shoulder" type="text" placeholder="Shoulder">
          <md-option *ngFor="let myShoulder of myShoulders" [value]="myShoulder">
            {{myShoulder}}
          </md-option>
        </md-select>
      </td>
      <td>
        <md-button-toggle-group #group="mdButtonToggleGroup">
          <md-button-toggle value="left"> Left Or Cardinal  </md-button-toggle>
          <md-button-toggle value="right"> Right Or Non-Cardinal</md-button-toggle>
        </md-button-toggle-group>
      </td>
    </tr>

<tr>

  <td class="example-35-width" *ngIf="isDirBoth()">
    <md-select mdInput formControlName="Division" type="text" placeholder="Division">
      <md-option *ngFor="let myDivision of myDivisions" [value]="myDivision">
        {{myDivision}}
      </md-option>
    </md-select></td>

  <td class="example-35-width" *ngIf="isDirBoth()">
    <md-select mdInput formControlName="MedianType" type="text" placeholder="Median Type">
      <md-option *ngFor="let myMediaType of myMediaTypes" [value]="myMediaType">
        {{myMediaType}}
      </md-option>
    </md-select></td>

  <td>
    <md-form-field class="example-half-width">
      <input mdInput formControlName="MedianWidth" type="text" placeholder="Median Width">
    </md-form-field>
  </td>

</tr>
</table>


  <p></p>
  <button md-raised-button type="submit">Submit</button>
  <button md-raised-button type="button" (click)="onResetForm()">Reset</button>
</form>



