<md-sidenav-container fullscreen>
    <md-sidenav #start>
        <md-nav-list>
            <a md-list-item routerLink="/add-new-highway">Add/Edit Highway</a>
          <a md-list-item routerLink="/add-segment">Add Segment</a>
          <a md-list-item routerLink="/remove-segment">Remove Segment</a>
          <a md-list-item routerLink="/add-new-ramp">Add New Ramp</a>
          <a md-list-item routerLink="/edit-lanes">Edit Lanes</a>
          <a md-list-item routerLink="/edit-pavement-layers">Edit Pavement Layers</a>
          <a md-list-item routerLink="/edit-road-features">Edit Road Features</a>
          <a md-list-item routerLink="/transfer-segment">Transfer Segment - Incomplete</a>
          <a md-list-item routerLink="/dashboard">Dashboard</a>
        </md-nav-list>
        <hr>
        <button md-button (click)="start.close()">CLOSE</button>
    </md-sidenav>
    <md-toolbar color="primary">
        <button md-icon-button (click)="start.open()">
            <md-icon>menu</md-icon>
        </button> {{ title }}
    </md-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
