.example-container-half {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 73%
}

example-container1{
  min-width: 280px;
  width: 60%
}

.radioButtondemoBasicUsage body {
  padding: 50px; }

.radioButtondemoBasicUsage hr {
  margin-left: -20px;
  opacity: 0.3; }

.radioButtondemoBasicUsage md-radio-group {
  width: 250px; }

.radioButtondemoBasicUsage p:last-child {
  padding-bottom: 50px; }

.radioButtondemoBasicUsage [ng-controller] {
  padding: 0 20px; }

.radioButtondemoBasicUsage .radioValue {
  margin-left: 50px;
  color: #232323;
  font-weight: bold;
  padding: 50px; }

.radioButtondemoBasicUsage md-icon {
  margin: 0 20px 20px;
  width: 128px;
  height: 128px; }

.radioButtondemoBasicUsage .ipsum {
  color: saddlebrown;
  font-size: 0.9em; }

.radioButtondemoBasicUsage my-radio {
  margin-left: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
