<md-card class="example-container-half">
<md-table #table [dataSource]="dataSource" class="example-half-width">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->

<!-- Name Column -->
  <ng-container mdColumnDef="startNewRP">
    <md-header-cell *mdHeaderCellDef> Start Point/RP </md-header-cell>
    <md-cell *mdCellDef="let element"> {{element.startNewRP}} </md-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container mdColumnDef="endNewRP">
    <md-header-cell *mdHeaderCellDef> End Point/RP </md-header-cell>
    <md-cell *mdCellDef="let element"> {{element.endNewRP}} </md-cell>
  </ng-container>

  <!-- Color Column -->
  <ng-container mdColumnDef="distance">
    <md-header-cell *mdHeaderCellDef> Distance </md-header-cell>
    <md-cell *mdCellDef="let element"> {{element.distance}} </md-cell>
  </ng-container>

  <ng-container mdColumnDef="checked">
    <md-header-cell *mdHeaderCellDef>
      <md-checkbox (change)="$event ? masterToggle() : null"
                   [checked]="isAllSelected()"
                   [indeterminate]="selection.hasValue() && !isAllSelected()">
      </md-checkbox>
    </md-header-cell>
    <md-cell *mdCellDef="let row">
      <md-checkbox (click)="$event.stopPropagation()"
                   (change)="$event ? selection.toggle(row.position) : null"
                   [checked]="selection.isSelected(row.position)">
      </md-checkbox>
    </md-cell>
  </ng-container>

  <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *mdRowDef="let row; columns: displayedColumns;"
    [class.example-selected-row]="selection.isSelected(row.position)"
    (click)="selection.toggle(row.position)">
  </md-row>
</md-table>
  <div class="example-container">
    <form class="example-form" novalidate [formGroup]="rpForm" (ngSubmit)="onSubmitRPForm()">
        <md-form-field>
          <input mdInput formControlName="startNewRP" placeholder="Start RP" >
        </md-form-field>
     <md-form-field>
        <input mdInput formControlName="endNewRP" placeholder="End RP" >
     </md-form-field>
    <md-form-field>
        <input mdInput formControlName="Distance" placeholder="Distance">
      </md-form-field>
      <button md-raised-button type="submit">Add New</button>
      <button md-raised-button type="button" [disabled]="selection.isEmpty()" (click)="onRemoveSelected()">Remove</button>
    </form>
  </div>
</md-card>
