<md-card class="example-container">
<md-table #table [dataSource]="dataSource" class="example-half-width">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container mdColumnDef="checked">
    <md-header-cell *mdHeaderCellDef>
      <md-checkbox (change)="$event ? masterToggle() : null"
                   [checked]="isAllSelected()"
                   [indeterminate]="selection.hasValue() && !isAllSelected()">
      </md-checkbox>
    </md-header-cell>
    <md-cell *mdCellDef="let row">
      <md-checkbox (click)="$event.stopPropagation()"
                   (change)="$event ? selection.toggle(row.id) : null"
                   [checked]="selection.isSelected(row.id)">
      </md-checkbox>
    </md-cell>
  </ng-container>

<!-- Name Column -->
  <ng-container mdColumnDef="name">
    <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
    <md-cell *mdCellDef="let element" contenteditable="true"> {{element.name}} </md-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container mdColumnDef="weight">
    <md-header-cell *mdHeaderCellDef> Weight </md-header-cell>
    <md-cell *mdCellDef="let element"> {{element.weight}} </md-cell>
  </ng-container>

  <!-- Color Column -->
  <ng-container mdColumnDef="symbol">
    <md-header-cell *mdHeaderCellDef> Symbol </md-header-cell>
    <md-cell *mdCellDef="let element"> {{element.symbol}} </md-cell>
  </ng-container>

  <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *mdRowDef="let row; columns: displayedColumns;"
    [class.example-selected-row]="selection.isSelected(row.checked)"
    (click)="selection.toggle(row.checked)">
  </md-row>
</md-table>
  <div align="end">
  <button md-raised-button type="button">Add New</button>
  <button md-raised-button type="button">Remove</button>
  </div>
</md-card>
